:root {
    --color-black: #242424;
    --color-black-30: #2424244D;
    --color-grey-1: #64646D;
    --color-grey-2: #C9C7C7;
    --color-grey-3: #E6E8EC;
    --color-grey-4: #F2F3F5;
    --color-white: #FFFFFF;
    --color-green-1: #57DF79;
    --color-green-2: #A1F5AD;
    --color-red: #FF8888;
    --color-yellow: #FFF388;
}
